body{background-color:black}

.container{
 color: #ffffff;
 width:1000px;
 height: 44px; 
 background-color: #F04E23 ;
 margin:auto;
 padding-left: 14px;
 padding-top: 14px;
 text-align: center;
 overflow: hidden;
 font-size: 24px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bolder;
}

.icon1{
    width: 20px;
    display: inline;
}

.name{color: white;
display:inline-block;}

#container2{
    width: 1014px;
    height: 355px;
    background-color: #ffffff;
    background-size: cover;
    text-align: left;
    margin: auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.ul1{
    list-style-image:url("./assets/list-syle.png");
    margin-left:0px;
    background-color: #50B514;
    display: block; 
    width: 450px;
    height: 253px;
    font-size: 18px;
    text-align: left;
    color: rgb(255, 255, 255);
    padding-top: 30px;      
}

.li1{
    padding: 3px;   
}
.image1{
    float: right;
    margin-right: 100px;
    margin-top: 34px;
}

.image2{
    width:500px;
    margin-left: 44px;
    margin-top: 30px;
    float:left;
}

.container3{
    width: 1014px;
    height: 355px;
    background-color: #000000;
    background-size: cover;
    text-align: left;
    margin:auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    padding-top:30px;

}

.ul2{
    float:right;
    list-style-image:url("./assets/list-syle.png");
    background-color: #F04E23;
    display: block; 
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    padding-top: 30px;  
    padding-bottom:30px;
    margin:0mm;
    padding-right: 80px;
   
}
.li2{
    padding: 3px; }

.container4{
    width: 1014px;
    height: 50px;
    background-color: #000000;
    background-size: cover;
    text-align: center;
    margin:auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px 10px 0px;
     padding: 0px 10px 10px 0px;
    color: #CF1616;

}

.container5{
    width: 1014px;
    height: 100px;
    background-color: #000000;
    background-size: cover;
    text-align: center;
    margin:auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    color: #ffffff;
}
p{
    font-size: 18;
}

.container6{
    width: 1014px;
    height: 50px;
    background-color: #000000;
    background-size: cover;
    text-align: center;
    margin:auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px 10px 0px;
    color: #CF1616;
}
footer{
    width: 1014px;
    height: 100px;
    background-color: white;
    margin: auto;
}
.footerimage{
    text-align: center;
    
}
.containerimage{
    text-align: center;
    
}
.fixedelement{
    width: 100px;
    height: 100px;  
    background-color: #2E9900;
    border-radius: 50px;
    border:solid; 
    border-color: #F04E23;
    position: fixed;
    bottom: 30px;
    right:30px;
    color:rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding:px;
}

.image003{
    width: 40px;
}

.email{
    max-width: 120px;
    background-color: #2E9900;
    padding: 10px;
    padding-bottom: 10px;
    position: fixed;
    top:0px;
    left:0px;   
    color:white;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

}

input{
    padding: 3px;
    margin:3px;
    width: 106px;
}
select{
    padding: 3px;
    margin:3px;
    width: 116px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('./assets/arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 3px);
    background-position-y: center;
}

.subimit{
    width:116px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F04E23;
    color:white;
    
}